
body {
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #d4a7ffee;
    color: #FFFDFE;
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
   background-color: #7B1BFF;
   height: 150px;
   width: 100%;
}

.main {
    margin-top: 150px;
}

#submit {
    background-color: #af62f8ee;
    width: 60px;
    height: 30px;
    text-decoration-color: #FFFDFE;
    border: none;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    color: #FFFDFE;

}